/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media only screen and (max-width: 768px) {
	#landing-box {
		text-align: center !important;
	}

	#social {
		width: 90%;
	}

	#centered-nav {
	    margin-left: 0;
	}

	.nav.navbar-nav.navbar-right {
		margin-left: 1%;
	}

	.nav.navbar-nav {
	    height: auto;
	    margin-bottom: 0;
	}

	.navbar-header {
		height: 70px;
	}

	.navbar-toggle {
		margin: 18px 15px 18px 0;
	}

	.navbar {
		opacity: 1;
		border-bottom: 1px solid #ffffff;

	}

	.icon-bar {
		background-color: #ffffff !important;
	}
}

@media only screen and (max-width: 1100px) {
	.section-head > p {
		padding: 0 80px;
	}
}


@media only screen and (max-width: 950px) {
	.section-head > p {
		padding: 0 60px;
	}
}

@media only screen and (max-width: 710px) {
	.section-head > p {
		padding: 0;
	}
}

/* Medium devices (desktops, 992px and up) */
@media only screen and (max-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media only screen and (max-width: 1200px) {

}